@use "config/variables/var_colors" as colors;

// CUSTOM STYLES
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif !important;
}
.u-visually-hidden,.usa-sr-only,.visually-hidden {
  clip: rect(1px,1px,1px,1px)!important;
  height: 1px!important;
  overflow: hidden!important;
  position: absolute!important;
  width: 1px!important;
  word-wrap: normal!important
}

// PARALLAX
.parallax {
  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}

// ANIMATIONS
.hoverpulse:hover {
  animation: pulse 1s; /* The heartBeat animation */
}
.hovershakeX:hover {
  animation: shakeX 1s; /* The heartBeat animation */
}

// USA BANNER
.nav-top-container {
  text-align: center;
  margin: 14px 0 12px 0;

  .site-logo {
    svg {
      fill: #1e384b;
      width: 250px;
      height: 60px;
    }
  }
}

// HEADER
header {
  border-bottom: none;

  .banner {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: -120px;
    overflow: hidden;
    video {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .usa-banner__inner {
    padding-bottom: .25rem;
    padding-top: .25rem;

    .usa-banner__header-text {

    }
  }
  .sticky-menu {
    background-color: colors.$aha-bg-color-dark-opacity;
    padding: 10px 20px;
    height: 120px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;

    .logo {
      padding: 20px 0 0 20px;
    }
    .header-top-right-block {
      position: relative;

      .share-block {
        position: absolute;
        top: 0;
        right: 30px;

        ul.share-buttons {
          list-style: none;

          li {
            float: left;
            margin-left: 5px;
          }
          img {
            display: block;
            margin: 0
          }
          span.fa,
          svg.svg-inline--fa {
            font-size: 26px;
            color: colors.$white;
          }
          span.fa:hover,
          svg.svg-inline--fa:hover {
            color: #B7410E;
          }
          .exitDisclaimer {
            display: none
          }
          svg.mailto {
            display: none !important
          }
        }
      }
      .nav-block {
        .nav-block-menu {
          position: absolute;
          top: 40px;
          right: 80px;
          button {
            &.c-hamburger {
              display: block;
              position: relative;
              overflow: hidden;
              margin: 10px;
              padding: 0;
              width: 36px;
              height: 36px;
              z-index: 2;
              font-size: 0;
              text-indent: -9999px;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              background: transparent;
              box-shadow: none;
              border-radius: none;
              border: none;
              cursor: pointer;

              -webkit-transition: background 0.3s;
              transition: background 0.3s;
              &:focus {
                outline: none !important;
              }
              span {
                display: block;
                position: absolute;
                top: 20px;
                left: 0;
                right: 0;
                height: 4px;
                background-color: colors.$white;
                &:before, &:after {
                  position: absolute;
                  display: block;
                  left: 0;
                  width: 100%;
                  height: 4px;
                  background: colors.$white;
                  content: "";
                }
                &:before {
                  top: -10px;
                }
                &:after {
                  bottom: -10px;
                }
              }
            }
            &.c-hamburger--htx {
              span {
                -webkit-transition: background 0s 0.3s;
                transition: background 0s 0.3s;
                &:before, &:after {
                  -webkit-transition-duration: 0.3s, 0.3s;
                  transition-duration: 0.3s, 0.3s;
                  -webkit-transition-delay: 0.3s, 0s;
                  transition-delay: 0.3s, 0s;
                }
                &:before {
                  -webkit-transition-property: top, -webkit-transform;
                  transition-property: top, transform;
                }
                &:after {
                  -webkit-transition-property: bottom, -webkit-transform;
                  transition-property: bottom, transform;
                }
              }
              &.is-active {
                color: colors.$white;

                span {
                  background: transparent;
                  &:before, &:after {
                    background: colors.$white;
                    -webkit-transition-delay: 0s, 0.3s;
                    transition-delay: 0s, 0.3s;
                  }

                  &:before {
                    top: 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                  }
                  &:after {
                    bottom: 0;
                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                  }
                }
              }
            }
          }
          nav.sub-menu {
            padding: 0 0 0 1%;
            float: right;
            top: 0;
            right: -25%;
            transition: all 0.3s ease;
            height: 100%;
            position: fixed;
            margin: 0;
            background-color: rgba(30, 44, 56);
            border-radius: 0;
            z-index: 1;
            overflow: hidden;
            &.open {
              right: 0;
              width: 50%;
            }
            .sub-menu-inner {
              position: relative;

              img {
                position: absolute;
                border-radius: 5px;
                left: 20px;
                width: 300px;
                height: 300px;
                margin-top: -25px;
                background: rgb(255, 255, 255, 0.9);
              }
              ul {
                position: absolute;
                top: 10px;
                width: calc(100% - 60px);
                text-align: center;

                li {
                  display: block;
                  list-style: none;
                  height: auto;
                  margin-left: 0;
                  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                  i {

                  }
                  &:hover {
                    i {
                      color: #B7410E;
                    }
                  }

                  &:first-child {
                    margin-top: 100px;
                  }

                  a {
                    color: colors.$white;
                    font-size: 35px;
                    line-height: 50px;
                    width: 100%;
                    display: block;
                    float: left;
                    text-transform: uppercase;
                    text-decoration: none;

                    &:hover {

                    }
                  }

                }
              }
            }
          }
        }
        .nav-block-search {
          position: absolute;
          top: 43px;
          right: 20px;

          .sub-search {
            padding: 0 0 0 2%;
            float: right;
            top: 0;
            right: -100%;
            transition: all 0.3s ease;
            height: 100%;
            width: 0;
            position: fixed;
            margin: 0;
            background-color: rgba(30, 44, 56);
            border-radius: 0;
            z-index: 1;
            overflow: hidden;
            &.open {
              right: 0;
              width: 100%;
            }
            ul {
              margin: 120px 0 0 350px;
            }
            li {
              display: block;
              list-style: none;
              height: auto;
              margin-left: 0;
              transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

              &:first-child {
                margin-top: 100px;
              }

              a {
                color: colors.$white;
                font-size: 16px;
                width: 100%;
                display: block;
                float: left;
                text-transform: uppercase;
                line-height: 30px;

                &:hover {
                  font-weight: bold;
                  text-decoration: none;
                }
              }

            }
          }
          .sub-search.open {
            form {
              width: 95%;
              input[type="search"] {
                width: 100%;
                text-align: center;
                border: none;
                background: transparent;                font-size: 45px;
                margin-bottom: 20px;
                color: colors.$white;
              }
              input[type="submit"] {
                margin: 0px 0px 0px -5px;
                border: none;
                background: transparent;                padding: 20px 0;
                margin-top: 20px;
                color: colors.$white;
                border-top: 1px solid colors.$white;
                font-size: 25px;
                cursor: pointer;
                height: auto;
                width: 100%;
              }
            }
            .search-block-form {
              position: absolute;
              top: 300px;
              width: calc(100% - 80px);

              input[type="search"] {
                color: colors.$white;
                max-width: 100%;
                font-size: 36px;
                padding: 40px;
                border: none;
                border-bottom: 2px solid colors.$white;
                background: transparent;
                text-align: center;
              }
              input[type="submit"] {
                color: colors.$white;
                max-width: 100%;
                font-size: 24px;
                padding: 40px;
                background: transparent;
                border: none;
                text-align: center;
              }
            }
          }
          .c-hamburger-2{
            display: block;
            position: relative;
            overflow: hidden;
            margin: 10px;
            padding: 0;
            width: 36px;
            height: 36px;
            z-index: 2;
            font-size: 30px;
            background: transparent;
            box-shadow: none;
            border-radius: none;
            border: none;
            cursor: pointer;

            -webkit-transition: background 0.3s;
            transition: background 0.3s;
            &:focus {
              outline: none !important;
            }
            span {
              i {
                color: colors.$white;
              }
            }
          }
          .c-hamburger--htx-2{
            span {
              -webkit-transition: background 0s 0.3s;
              transition: background 0s 0.3s;
              &:before, &:after {
                -webkit-transition-duration: 0.3s, 0.3s;
                transition-duration: 0.3s, 0.3s;
                -webkit-transition-delay: 0.3s, 0s;
                transition-delay: 0.3s, 0s;
              }
              &:before {
                -webkit-transition-property: top, -webkit-transform;
                transition-property: top, transform;
              }
              &:after {
                -webkit-transition-property: bottom, -webkit-transform;
                transition-property: bottom, transform;
              }
            }
            &.is-active {
              color: colors.$white;

              span {
                background: transparent;
                &:before, &:after {
                  background: colors.$white;
                  -webkit-transition-delay: 0s, 0.3s;
                  transition-delay: 0s, 0.3s;
                }

                &:before {
                  top: 0;
                  -webkit-transform: rotate(45deg);
                  -ms-transform: rotate(45deg);
                  transform: rotate(45deg);
                }
                &:after {
                  bottom: 0;
                  -webkit-transform: rotate(-45deg);
                  -ms-transform: rotate(-45deg);
                  transform: rotate(-45deg);
                }
              }
            }
          }
        }
      }
    }

    &.stuck {
      transition: all 2s ease;
      background-color: rgba(30, 44, 56);
      height: 80px;
      position: fixed;
      top: 0;
      z-index: 10;

      .logo {
        svg {
          transition: all 2s ease;
          height: 30px;
        }
      }

      .header-top-right-block {
        position: relative;

        .share-block {
          transition: all 2s ease;
          top: 3px;
          right: 150px;

          ul.share-buttons {
            list-style: none;

            li {
              float: left;
              margin-left: 5px;
            }
            img {
              display: block;
              margin: 0
            }
            span.fa,
            svg.svg-inline--fa {
              font-size: 26px;
              color: colors.$white;
            }
            span.fa:hover,
            svg.svg-inline--fa:hover {
              color: #B7410E;
            }
            .exitDisclaimer {
              display: none
            }
            svg.mailto {
              display: none !important
            }
          }
        }
        .nav-block {
          .nav-block-menu {
            transition: all 2s ease;
            position: absolute;
            top: 0;
            right: 80px;
            button {
              &.c-hamburger {
                display: block;
                position: relative;
                overflow: hidden;
                margin: 10px;
                padding: 0;
                width: 36px;
                height: 36px;
                z-index: 2;
                font-size: 0;
                text-indent: -9999px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: transparent;
                box-shadow: none;
                border-radius: none;
                border: none;
                cursor: pointer;

                -webkit-transition: background 0.3s;
                transition: background 0.3s;
                &:focus {
                  outline: none !important;
                }
                span {
                  display: block;
                  position: absolute;
                  top: 20px;
                  left: 0;
                  right: 0;
                  height: 4px;
                  background-color: colors.$white;
                  &:before, &:after {
                    position: absolute;
                    display: block;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background: colors.$white;
                    content: "";
                  }
                  &:before {
                    top: -10px;
                  }
                  &:after {
                    bottom: -10px;
                  }
                }
              }
              &.c-hamburger--htx {
                span {
                  -webkit-transition: background 0s 0.3s;
                  transition: background 0s 0.3s;
                  &:before, &:after {
                    -webkit-transition-duration: 0.3s, 0.3s;
                    transition-duration: 0.3s, 0.3s;
                    -webkit-transition-delay: 0.3s, 0s;
                    transition-delay: 0.3s, 0s;
                  }
                  &:before {
                    -webkit-transition-property: top, -webkit-transform;
                    transition-property: top, transform;
                  }
                  &:after {
                    -webkit-transition-property: bottom, -webkit-transform;
                    transition-property: bottom, transform;
                  }
                }
                &.is-active {
                  color: colors.$white;

                  span {
                    background: transparent;
                    &:before, &:after {
                      background: colors.$white;
                      -webkit-transition-delay: 0s, 0.3s;
                      transition-delay: 0s, 0.3s;
                    }

                    &:before {
                      top: 0;
                      -webkit-transform: rotate(45deg);
                      -ms-transform: rotate(45deg);
                      transform: rotate(45deg);
                    }
                    &:after {
                      bottom: 0;
                      -webkit-transform: rotate(-45deg);
                      -ms-transform: rotate(-45deg);
                      transform: rotate(-45deg);
                    }
                  }
                }
              }
            }
            nav.sub-menu {
              padding: 0 0 0 1%;
              float: right;
              top: 0;
              right: -25%;
              transition: all 0.3s ease;
              height: 100%;
              position: fixed;
              margin: 0;
              background-color: rgba(30, 44, 56);
              border-radius: 0;
              z-index: 1;
              overflow: hidden;
              &.open {
                right: 0;
                width: 50%;
              }
              .sub-menu-inner {
                position: relative;

                img {
                  position: absolute;
                  border-radius: 5px;
                  left: 20px;
                  width: 300px;
                  height: 300px;
                  margin-top: -25px;
                  background: rgb(255, 255, 255, 0.9);
                }
                ul {
                  position: absolute;
                  top: 10px;
                  width: calc(100% - 60px);
                  text-align: center;

                  li {
                    display: block;
                    list-style: none;
                    height: auto;
                    margin-left: 0;
                    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                    i {

                    }
                    &:hover {
                      i {
                        color: #B7410E;
                      }
                    }

                    &:first-child {
                      margin-top: 100px;
                    }

                    a {
                      color: colors.$white;
                      font-size: 35px;
                      line-height: 50px;
                      width: 100%;
                      display: block;
                      float: left;
                      text-transform: uppercase;
                      text-decoration: none;

                      &:hover {

                      }
                    }

                  }
                }
              }
            }
          }
          .nav-block-search {
            transition: all 2s ease;
            top: 3px;
            right: 20px;

            .sub-search {
              padding: 0 0 0 2%;
              float: right;
              top: 0;
              right: -100%;
              transition: all 0.3s ease;
              height: 100%;
              width: 0;
              position: fixed;
              margin: 0;
              background-color: rgba(30, 44, 56);
              border-radius: 0;
              z-index: 1;
              overflow: hidden;
              &.open {
                right: 0;
                width: 100%;
              }
              ul {
                margin: 120px 0 0 350px;
              }
              li {
                display: block;
                list-style: none;
                height: auto;
                margin-left: 0;
                transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

                &:first-child {
                  margin-top: 100px;
                }

                a {
                  color: colors.$white;
                  font-size: 16px;
                  width: 100%;
                  display: block;
                  float: left;
                  text-transform: uppercase;
                  line-height: 30px;

                  &:hover {
                    font-weight: bold;
                    text-decoration: none;
                  }
                }

              }
            }
            .sub-search.open {
              form {
                width: 95%;
                input[type="search"] {
                  width: 100%;
                  text-align: center;
                  border: none;
                  background: transparent;                  font-size: 45px;
                  margin-bottom: 20px;
                  color: colors.$white;
                }
                input[type="submit"] {
                  margin: 0px 0px 0px -5px;
                  border: none;
                  background: transparent;                  padding: 20px 0;
                  margin-top: 20px;
                  color: colors.$white;
                  border-top: 1px solid colors.$white;
                  font-size: 25px;
                  cursor: pointer;
                  height: auto;
                  width: 100%;
                }
              }
              .search-block-form {
                position: absolute;
                top: 300px;
                width: calc(100% - 80px);

                input[type="search"] {
                  color: colors.$white;
                  max-width: 100%;
                  font-size: 36px;
                  padding: 40px;
                  border: none;
                  border-bottom: 2px solid colors.$white;
                  background: transparent;
                  text-align: center;
                }
                input[type="submit"] {
                  color: colors.$white;
                  max-width: 100%;
                  font-size: 24px;
                  padding: 40px;
                  background: transparent;
                  border: none;
                  text-align: center;
                }
              }
            }
            .c-hamburger-2{
              display: block;
              position: relative;
              overflow: hidden;
              margin: 10px;
              padding: 0;
              width: 36px;
              height: 36px;
              z-index: 2;
              font-size: 30px;
              background: transparent;
              box-shadow: none;
              border-radius: none;
              border: none;
              cursor: pointer;

              -webkit-transition: background 0.3s;
              transition: background 0.3s;
              &:focus {
                outline: none !important;
              }
              span {
                i {
                  color: colors.$white;
                }
              }
            }
            .c-hamburger--htx-2{
              span {
                -webkit-transition: background 0s 0.3s;
                transition: background 0s 0.3s;
                &:before, &:after {
                  -webkit-transition-duration: 0.3s, 0.3s;
                  transition-duration: 0.3s, 0.3s;
                  -webkit-transition-delay: 0.3s, 0s;
                  transition-delay: 0.3s, 0s;
                }
                &:before {
                  -webkit-transition-property: top, -webkit-transform;
                  transition-property: top, transform;
                }
                &:after {
                  -webkit-transition-property: bottom, -webkit-transform;
                  transition-property: bottom, transform;
                }
              }
              &.is-active {
                color: colors.$white;

                span {
                  background: transparent;

                  &:before, &:after {
                    background: colors.$white;
                    -webkit-transition-delay: 0s, 0.3s;
                    transition-delay: 0s, 0.3s;
                  }

                  &:before {
                    top: 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                  }
                  &:after {
                    bottom: 0;
                    -webkit-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .mission-block {
    background-color: rgba(30, 44, 56) !important;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -30%) !important;
  }
}

// SECTION/GRID CONTAINER
.aha-component  {
  padding: 70px 100px;
  margin: 0 auto;

  &.accent-paintstroke {
    background-position: -50px 0;
    background-repeat: no-repeat;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPfTy6yxB5MVV8IyoHJ9nm_AhiWyqvVbrWAA&s');
  }
  &.bg-black {
    background-color: rgba(0, 0, 0, 0.7);
    color: colors.$white;
    a {
      color: colors.$white;
      &:hover {
        color: #eee;
      }
    }
  }
  &.bg-dark {
    background-color: rgba(30,44,56, 0.7);
    color: colors.$white;
    a {
      color: colors.$white;
      &:hover {
        color: #eee;
      }
    }
  }
  &.bg-med {
    background-color: rgba(63, 63, 63, 0.7);
    color: colors.$white;
    a {
      color: colors.$white;
      &:hover {
        color: #eee;
      }
    }
  }
  &.bg-light {
    background-color: rgba(245, 252, 255, 0.7);
    color: #000000;
    a {
      color: #000000;
      &:hover {
        color: #000000;
      }
    }
  }
}

// SECTION-COMPONENTS
section {
  overflow: hidden;
  max-width: 1400px;
}
.section-clickablecard {
  .clickable-card-component {
    .clickable-card-links {
      .usa-card__container {
        .usa-card__header {
          h2.usa-card__heading {
            color: #1E2C38 !important;
            text-decoration: none !important;
          }
        }
      }
    }

    &.thehuda {
      cursor: crosshair;

      img {
        display: none;
      }
      i {
        display: block;
      }
      img.clickCard-longArrow {
        display: none;
        position: absolute;
        bottom: 28px;
        right: 15px;
      }
      h2 {
        display: flex;
        &.thehuda {
          display: none;
        }
      }
      &:hover {
        img {
          display: block;
        }
        img.clickCard-longArrow {
          display: block;
          height: 15px;
        }
        i {
          display: none;
        }
        h2 {
          display: none;
          &.thehuda {
            display: block;
            color: #152B55;
            font-family: sans-serif;
            font-size: 21.1px;
            font-style: normal;
            font-weight: 600;
            line-height: 121%; /* 25.531px */
            text-transform: capitalize;
          }
        }
      }
    }
    &.thebrandon {
      cursor: crosshair;

      img {
        display: none;
      }
      i {
        display: block;
      }
      span.readmore {
        display: none;
        position: absolute;
        bottom: 28px;
        left: 15px;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
      }
      h2 {
        display: flex;
        &.thebrandon {
          display: none;
        }
      }
      &:hover {
        background: linear-gradient(180deg, #001628 10.58%, #575757 100%);
        border-top: 4px solid #d8d8d8;

        .clickable-card {
          background: transparent;
          border:none;
          color: #D2D2D2;

          img {
            display: block;
          }
          span.readmore {
            color: #f77a7a;
            display: block;
          }
          i {
            display: none;
          }
          h2 {
            display: none;
            &.thebrandon {
              display: block;
              color: #D2D2D2 !important;
              font-size: 32px;
              font-weight: 600;
              line-height: 36px;
            }
          }
        }
      }
    }
  }
}
.section-drop-cards {
  .usa-card__container {
    border: none;

    .usa-card__header {
      display: none;
    }
    .usa-card__media {
      position: relative;
      margin-bottom: 60px;

      .usa-card__img {
        border-radius: 5px 5px 5px 5px;
      }
    }
    .usa-card__body {
      border-radius: 8px;
      background: #1E2C38;
      color: colors.$white;
      padding: 20px 20px 100px 20px;
      width: 80%;
      margin: 0 auto;
      position: absolute;
      top: 50%;
      left: 10%;
      text-align: center;
      height: 200px;
      p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        line-height: 1.5;
        max-height: calc(1.5em * 3);
      };
    }
    .usa-card__footer {
      padding: .5rem 1.5rem 1.5rem;
      position: absolute;
      bottom: 0;
      left: 22%;
      text-align: center;
    }
  }
}
.section-goodfit {
  background-position: center !important;
  background-size: cover !important;
  color: colors.$white;

  .text-large {
    max-width: none;
    margin: 0;
    font-weight: bold;
    font-size: 2.2rem;
    line-height: 1.5;

    a:last-child {
      color: #fff039;
      border-bottom: 1px dotted transparent;
      transition: border-bottom-color .3s;
    }

    a:last-child:after {
      display: inline-block;
      transition: transform .3s;
      content: '\00a0\2192';
    }
    a:last-child:hover:after,
    a:last-child:focus:after {
      transform: translateX(5px)
    }
  }

  .divider {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  small {
    background-color: rgba(30,44,56,0.7);
    border-radius: 5px 5px 5px 5px;
    display: block;
    margin: 3px auto -3px auto;
    max-width: 1024px;
    color: colors.$white;
    padding: 20px;

    p {
      margin: 0;
      max-width: none;
      font-size: 1.2rem;
    }
  }

  @media screen and (min-width: 600px) {
    .text-large {
      font-size:3.2rem;
      line-height: 1.35;
    }
    small {
      margin-bottom:-6rem;
    }
  }
}
.section-hovercards {
  margin-top: 3em;
  clear: both;
  h2 + & {
    margin-top: 1.5em;
  }
  .clearfix {
    visibility: hidden;
    height: 0;
  }

  .grc-grid-view-links + h2 {
    margin-top: 15px;

    .fa {
      margin-right: 3px;
    }
  }
  .grc-grid-item {
    position: relative;
    display: block;
    margin-bottom: 3% !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    &.usa-external_link::after {
      display: none;
    }
  }
  .grc-grid-item-image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0 10px 10px 0;
    border-left: 8px solid #94BFD1;
  }
  .grc-grid-item-label {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 10%;
    padding: 10px;
    color: colors.$white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(30,44,56,0.7);
    .fa-file-pdf-o {
      font-size: 15px;
      margin-left: 5px;
    }
  }
  .grc-grid-item-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(30,44,56,0.7);
    &:hover {
      opacity: 100;
    }
  }
  .grc-grid-item-text {
    font-weight: bold;
    color: colors.$white;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-height: 100%;
    padding: 30px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .grc-left-toggle-link-active {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 2px solid black;
    font-weight: bold;
  }
  .grc-right-toggle-link-active {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid black;
    font-weight: bold;
  }
  .grc-grid-link {
    i {
      margin-right: 5px;
    }
  }
  .grc-txt-grid-item {
    .site-subheading {
      color: #eee;
    }
    a {
      color: black;
      &:hover,
      &:active,
      &:visited {
        color: black;
      }
      .fa-external-link {
        font-size: 13px;
      }
    }
  }
}
.section-left-flags {
  .usa-card__container {
    border: none;

    .usa-card__media {
      box-shadow: 0 2px 2px 0 black;
      width: 200px;
    }
    .usa-card__header {
      position: absolute;
      margin: 0;
      background: #1E2C38;
      border-radius: 5px 5px 5px 5px;
      color: colors.$white;
      padding: 14px;
      top: 5%;
      left: 175px;
      height: calc(100% - 10%);
      width: calc(100% - 185px);
      z-index: 1;
    }
    .usa-card__body {
      margin: 6% 20px 20px 200px;
      color: colors.$white;
      z-index: 1;
    }
    .usa-card__footer {
      display: none;
    }
  }
}
.section-slider {
  position: relative;

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;

    img {
      width: 100%;
      max-height: 300px;
      object-fit: cover;
      object-position: center;
    }
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: colors.$white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */
  .text {
    color: colors.$white;
    font-size: 15px;
    bottom: 8px;
    text-align: center;
    width: 50%;
    position: absolute;
    top: 20px;
    right: 50px;
    padding: 20px;
    max-height: 90%;
    background: rgba(30,44,56, 0.7);
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
}
.section-spotlight {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -50px;
    left: -150px;
    width: 30%;
    height: 100%;
    background: colors.$white;
    border-radius: 0 50% 50% 0;
    box-shadow: 5px 5px 5px #1E2C38;;
    z-index: 1;
  }

  img {
    cursor: pointer;
    height: 250px !important;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
}
.section-tabpanel {
  .custom-tab > .tab-list {
    margin: 8px 0;
    button {
      cursor: pointer;
      padding: 14px 30px;
      background: transparent;
      border-radius: 10px 10px 0 0;

      &[aria-selected="true"],
      &:hover{
        border-bottom: 5px solid rgb(255, 0, 0);
        background: rgb(255, 255, 255, 0.7);
      }

      i {
        font-size: 40px;
        margin-bottom: 14px;
      }
    }
    a {
      color: colors.$white;
    }

    .tab-items-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 0;
      margin-bottom: 16px;
      border-bottom: 1px solid #cdcdcd;

      h2 {
        margin-bottom: 21px;
      }

      .single-tab-wrapper > button.tab-btn {
        display: inline-block;
        padding: 0;
        cursor: pointer;
        background-color: colors.$white;
        border: none;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;

        span.active-bump {
          display: block;
          height: 4px;
          border-radius: 8px 8px 0 0;
        }

        .tab-title:hover {
          color: #cdcdcd;
          text-shadow: 0.5px 0 0 #cdcdcd;

          ~ span.active-bump {
            background-color: #cdcdcd;
          }
        }

        span.tab-title {
          display: inline-block;
          padding: 10px 16px 10px 16px;

          &:focus {
            position: relative;
          }

          .title {
            text-wrap: nowrap;
            color: #617381;
            margin-bottom: 15px;
            text-decoration: none;

            &:visited {
              color: #617381;
              text-decoration: none;
            }
          }
        }

        &[aria-selected=true] {
          position: relative;

          span {
            &.tab-title .title {
              color: #1a6986;
              text-shadow: 0.5px 0 0 #1a6986;
            }

            &.active-bump, &.tab-title:hover ~ span.active-bump {
              background-color: #1a6986;
            }
          }
        }
      }
    }

    .tab-panels-wrapper {
      margin: 0 0.5rem;

      .tab-panel {
        display: block;

        &.active {
          display: block;
        }

        &[hidden] {
          display: none;
        }
      }
    }
  }

  @media (min-width: 880px) {
    .custom-tab > .tab-list .tab-panels-wrapper .tab-panel {
      display: inline-block;
      width: 100%;
    }
  }
}
.section-top {
  height: 100vh;
}

// CLICKABLE CARD COMPONENT
.clickable-card-component {
  padding: 0 0 24px 0;

  .usa-card:hover .usa-card__container {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out;
  }

  .usa-card__container {
    transition: box-shadow 0.3s ease-in-out;
    border: 1px solid #D6D7D9;
    border-radius: 4px;
  }

  .clickable-card-links {
    text-decoration: none !important;

    h1, h2, h3, h4, h5, h6 {
      color: colors.$sapphire;
      text-decoration: underline;

      &:hover {
        color: colors.$royalblue;
      }

      .icon-wrapper svg {
        color: colors.$teal !important;
      }
    }

    .usa-card__container {
      border: 2px solid colors.$mist;
      border-radius: 8px;
    }

    &:hover {
      .usa-card__container {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.07) !important;
      }

      .usa-card__heading {
        text-decoration: underline;
      }
    }

    &:focus {
      .usa-card__container {
        outline: 2px solid colors.$vivid-blue;
      }
    }

    .usa-card__body {
      padding-left: 16px;
      padding-right: 16px;
    }

    .usa-card__container {
      border: 2px solid #EEEEEE;
      background-color: colors.$white;
      border-radius: 8px;

      .usa-card__footer {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 16px;
      }
      .usa-card__header {
        border-bottom: none;

        h2.usa-card__heading {
          font-size: 20.5px;
          line-height: 1.3;
          font-weight: 600;
          color: colors.$sapphire;
          max-width: 450px;
          word-wrap: break-word;
          word-break: break-word;
          text-decoration: underline;

          &:hover {
            color: colors.$royalblue;
          }

          .icon-wrapper svg {
            color: colors.$teal !important;
          }
        }
      }
    }

    @media (min-width: 320px) {
      .usa-card__header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        padding-bottom: 0;
      }

      .usa-card__heading {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        svg {
          padding-right: 0.625rem;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }
}

//FOOTER
footer {
  section {
    padding: 20px 0;
    &.bg-black {
      background-color: rgba(0, 0, 0);
      color: colors.$white;
      a {
        color: colors.$white;
        &:hover {
          color: #eee;
        }
      }
    }
    &.bg-dark {
      background-color: rgba(30,44,56);
      color: colors.$white;
      a {
        color: colors.$white;
        &:hover {
          color: #eee;
        }
      }
    }
    &.bg-med {
      background-color: rgba(63, 63, 63);
      color: colors.$white;
      a {
        color: colors.$white;
        &:hover {
          color: #eee;
        }
      }
    }
    &.bg-light {
      background-color: rgba(245, 252, 255);
      color: #000000;
      a {
        color: #000000;
        &:hover {
          color: #000000;
        }
      }
    }

    ul.footer-menu__list {
      display: grid;
      row-gap: .5rem;
      list-style: none;
    }

    #footer-block-logo {
      text-align: left;

      .logo-samhsa {
        svg {
          fill: colors.$white;
          width: 250px;
          height: 60px;
        }
      }
      .logo-hhs {
        svg {
          fill: colors.$white;
          width: 250px;
          height: 60px;
        }
      }
    }
    #footer-block-social {
      text-align: center;
    }
    section#footer-section-03 {
      border-top: 1px solid colors.$white;
    }
  }
}

//RETURN TO TOP
.return-to-top {
  position: fixed;
  bottom: 25px;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  &.visible {
    opacity: 1;
  }

  #footer-block-rtt {
    padding: 20px 0 20px 20px;
    a {
      background-color: rgb(183, 65, 14);
      border-radius: 5px 0 0 5px;
      padding: 20px;
      width: 160px;
      color: colors.$white;
      text-decoration: none;

      &:hover {
      }
    }
  }
}

