footer {
  section {
    padding: 20px 0;

    #footer-block-rtt {
      text-align: right;
      a {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
    #footer-block-nav {
      ul {
        display: grid;
        row-gap: .5rem;
        list-style: none;

        li {

        }
      }
    }
    #footer-block-logo {
      text-align: center;
      .logo-samhsa {
        svg {
          fill: #fff;
          width: 250px;
          height: 60px;
        }
      }

      .logo-hhs {
        svg {
          fill: #fff;
          width: 250px;
          height: 60px;
        }
      }
    }
    #footer-block-social {
      text-align: center;
    }
  }

  section#footer-section-03 {
    border-top: 1px solid #fff;
  }
}
