//BREAKPOINT MIXIN. 
//We use min-width based breakpoint. 
//Using min-width breakpoints allows us to add styles as the screen size increases,making 
//sure that our design adapts and looks good on larger screens as well.

// !!!! CHANGES IN THIS FILE NEED TO BE REFLECTED IN samhsa_uswds_base/samhsa_uswds_base.breakpoints.yml  !!!!

$break-mobile-portrait: 320px;
$break-mobile-landscape: 480px;
$break-tablet-portrait: 640px;
$break-tablet-landscape: 880px;
$break-desktop: 1024px;
$break-fullsize: 1200px;
$break-widescreen: 1400px;
$break-mobile-only: 0 $break-mobile-landscape - 1;


@mixin breakpoint($breakpoint) {
    @if $breakpoint == $break-mobile-portrait {
        @media (min-width: $break-mobile-portrait) { @content; }
    } @else if $breakpoint == $break-mobile-landscape {
        @media (min-width: $break-mobile-landscape) { @content; }
    } @else if $breakpoint == $break-tablet-portrait {
        @media (min-width: $break-tablet-portrait) { @content; }
    } @else if $breakpoint == $break-tablet-landscape {
        @media (min-width: $break-tablet-landscape ) { @content; }
    } @else if $breakpoint == $break-desktop {
        @media (min-width: $break-desktop) { @content; }
    } @else if $breakpoint == $break-fullsize {
        @media (min-width: $break-fullsize) { @content; }
    } @else if $breakpoint == $break-widescreen {
        @media (min-width: $break-widescreen) { @content; }
    }
}
@mixin breakpoint-down($breakpoint) {
    @if $breakpoint == $break-mobile-portrait {
        @media (max-width: $break-mobile-portrait) { @content; }
    } @else if $breakpoint == $break-mobile-landscape {
        @media (max-width: $break-mobile-landscape) { @content; }
    } @else if $breakpoint == $break-tablet-portrait {
        @media (max-width: $break-tablet-portrait) { @content; }
    } @else if $breakpoint == $break-tablet-landscape {
        @media (max-width: $break-tablet-landscape ) { @content; }
    } @else if $breakpoint == $break-desktop {
        @media (max-width: $break-desktop) { @content; }
    } @else if $breakpoint == $break-fullsize {
        @media (max-width: $break-fullsize) { @content; }
    } @else if $breakpoint == $break-widescreen {
        @media (max-width: $break-widescreen) { @content; }
    }
}

//Reference to breakpoint variables

//These Sass mixins translate in our compiled CSS using the values declared in our Sass variables. For example:
// X-Small devices (less than 480px)
// No media query for `$break-mobile-only` since this is the default

// Small devices (landscape phones, 480px and up)
//@media (min-width: 480px) { ... }

// Medium devices (tablets, 640x and up)
//@media (min-width: 640px) { ... }

// Large devices (desktops, 880px and up)
//@media (min-width: 880px) { ... }

// X-Large devices (large desktops, 1024px and up)
//@media (min-width: 1024px) { ... }

// XX-Large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }

// XXX-Large devices (larger desktops, 1400px and up)
//@media (min-width: 1400px) { ... }

