@use "../variables/" as * ;
@use "../mixins/breakpoint" as * ;
@use "../mixins/mix_cardsblock" as * ;
@use "./mix_fonts" as *;

@mixin collapsiblock($includeFocus: true) {
  div {
    button {
      font-weight: $weight-regular;
      color: $charcoal;
      @include base-font-size;
      text-decoration: none;
      text-align: left;
      margin: 0px;
      padding: 0px;

      h2 {
        // SAMHSAWCM-9236 - Contradicts global header styling
        font-weight: $weight-regular;
        color: $charcoal;
        @include base-font-size;
        margin: auto;
        text-decoration: none;
        border-top: solid 1px $border-color-line;
        @include list-padding-top-and-bottom(20px, 20px, 10px, 35px);
      }

      h4 {
        // SAMHSAWCM-9236 - Contradicts global header styling
        font-weight: $weight-regular;
        color: $charcoal;
        margin: auto;
        text-decoration: none;
        border-top: solid 1px $border-color-line;
        @include list-padding-top-and-bottom(20px, 20px, 10px, 35px);
      }

      @if (includeFocus == true) {
        &:focus {
          h2, h4 {
            outline: .25rem solid $vivid-blue;
            outline-offset: 0;
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
              outline: thin dotted;
            }
          }
        }
      }
    }
  }
}
