@use "../../config/mixins/breakpoint" as bp;

// Base font
//===============================================
@mixin base-font-size() {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;

  @include bp.breakpoint(bp.$break-tablet-landscape) {
    font-size: 16.96px;
  }
}

@mixin base-header-size() {
  font-size: 21.1px;
  line-height: 24.05px;

  @include bp.breakpoint(bp.$break-desktop) {
    font-size: 26.36px;
    line-height: 26.65px;
  }
}
@mixin base-header-card-size (){
  font-size: 18.5px;
  line-height: 1.3;

  @include bp.breakpoint(bp.$break-desktop) {
    font-size: 20.5px;
  }
}