@use "../../config" as *;
@use "../../config/variables/var_colors" as colors;

@mixin shared-focus-styles() {
    outline: 2px solid $vivid-blue;
    outline-offset: 2px;
    border-radius: 4px;
    z-index: 99999999;
}

@mixin focus-outline() {
    @include shared-focus-styles();
}

@mixin focus-dropdown-filter-outline() {
    @include shared-focus-styles();
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $vivid-blue;
    box-shadow: none;
    outline: none;
}