@use "../variables" as *;
@use "./breakpoint" as *;
@use "./mix_fonts" as *;




// This "should" be the mixin for all buttons
@mixin button() {
  appearance: none;
  background-color: $teal;
  border: $teal;
  color: $$white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-weight: $weight-regular;
  text-align: center;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: normal;
  border-radius: .25rem;
  line-height: .9;
  padding: .75rem 1.25rem;

  @media screen and (min-width: $break-desktop) {
    &:active,
    &:focus, 
    &:hover {
      background-color: $steel;
    }
  }
  &:focus {
    box-shadow: $form-box-shadow-focus;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 1;
    color: $charcoal;
    font-weight: 400;
    background-color: $smoke;

    &:active,
    &:focus,
    &:hover {
      background-color: $smoke;
    }
  }
}

@mixin reset-button() {
  display: inline-block;
  background-color: $teal;
  font-family: $base-font-family;
  @include base-font-size;
  font-weight: $weight-regular;
  border: 1px solid $teal;
  color: $white;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  text-transform: capitalize;
  text-align: center;
  -webkit-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: .25rem;
  line-height: .9;
  padding: .75rem 1.25rem;

  &:hover {
    color: $white;
    background-color: $steel;
    border-color: $steel;
  }
}

@mixin button-outline {
  @include base-font-size;
  font-weight: $weight-regular;
  cursor: pointer;
  margin: 5px;
  background-color: $teal;
  border: $teal;
  color: $white;
  border: solid 1px $white;
  border-radius: .25rem;
  line-height: .9;
  padding: .75rem 1.25rem;

  &:hover {
    color: $teal;
    background-color: $white;
  }
}
