// Based on https://engineering.18f.gov/css/architecture/
// Meant for major elements, like body and links.

// Typography
//==========================================================================
@use "./var_colors" as *;
@use "./var_utility" as *;
@use "../mixins/breakpoint" as *;
@use "../mixins/mix_links" as *;
@use "../mixins/mix_fonts" as *;


body {
  color: $base-font-color;
  font-family: $base-font-family;
  @include base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  margin: 0 0 8px 0;
  color: $midnight;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2.131rem;
  font-weight: $weight-bold;
  line-height:$line-height-small;
}

h2 {
  font-size: 1.594rem;
  font-weight: $weight-semi-bold;
  line-height: $line-height-large;
}

h3 {
  font-size: 1.319rem;
  font-weight: $weight-semi-bold;
  line-height: $line-height-medium;
}

h3.h2spacing {
  margin: $h2-spacing;
}

h4 {
  font-size: 1.156rem;
  font-weight: $weight-semi-bold;
  line-height: $line-height-xlarge;
}

h5 {
  font-size: 1rem;
  font-weight: $weight-bold;
  line-height: $default-line-height;
}

h6 {
  font-size: 1rem;
  font-weight: $weight-semi-bold;
  line-height: $default-line-height;
}


@include breakpoint($break-tablet-landscape) {
  h1 { 
    font-size: 2.663rem; 
    font-weight: $weight-bold;
    line-height: $line-height-small ;
  }

  h2 { 
    font-size: 1.991rem; 
    font-weight: $weight-semi-bold;
    line-height: $line-height-small; 
  }

  h3 { 
    font-size: 1.648rem; 
    font-weight: $weight-semi-bold;
    line-height: $line-height-large;
  }

  h4 { 
    font-size: 1.281rem; 
    font-weight: $weight-semi-bold;
    line-height: $line-height-xlarge;
  }

  h5 { 
    font-size: 1.06rem;
    font-weight: $weight-bold;
    line-height: $default-line-height;
  }

  h6 { 
    font-size: 1.06rem;
    font-weight: $weight-semi-bold;
    line-height: $default-line-height;
  }

}

p {
  margin: 0 0 16px 0;
  overflow-wrap: break-word;
}

a {
  transition: color $base-duration $base-timing;
  @include uswds-link-overwrite;
  overflow-wrap: break-word;
  color: $sapphire;
}

strong, b {
  font-weight: $weight-bold;
}

em {
  font-style: italic;
}

hr {
  border-bottom: 1px solid $steel;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5rem 0;
}

//Blockquote
//-----------------------------------

blockquote {
  margin: 0 0 8px 0.5em;
  padding: 0 0 0 1em;
  border-left: 5px solid $base-font-color;
  line-height: 1.4;
  overflow-wrap: break-word;
}

//Global White Space 
$margin-header-to-p: 8px;
$margin-paragraph-to-header: 16px;
$margin-component-to-header: 32px;
$margin-body-to-p: 16px;
$margin-p-to-button: 25px;
$margin-component-to-component: 40px;
$listItem-to-listItem: 8px;

h1.block-content {
  margin-bottom: $margin-header-to-p !important;
}

h1.program-title {
  margin-bottom: $margin-header-to-p !important;
}


h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: $margin-header-to-p;
}

// Paragraph to next header
p + h2, p + h3, p + h4, p + h5, p + h6 {
  margin-top: $margin-paragraph-to-header;
}

// Paragraph to Last Updated
.block-field-blocknodegeneric-lbfield-last-updated#last-updated {
  margin-top: 32px !important;
  margin-bottom: 16px;
}

// Body/p to paragraph
p + p {
  margin-top: $margin-body-to-p;
}

// Links
//------------------------------------------

// a {
//   @include link-colors($action-color, $action-color-hover, $action-color-hover, $action-color, $action-color-hover);
// }

//custom google fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

// samhsa-icon font icons
//==============================================

// Create the font family
//----------------------------------------------
@font-face {
  font-family: 'samhsa-icons';
  src: url('../../fonts/icomoon/samhsa-icons/samhsa-icons.eot?xd8hxr');
  src: url('../../fonts/icomoon/samhsa-icons/samhsa-icons.eot?xd8hxr#iefix') format('embedded-opentype'),
  url('../../fonts/icomoon/samhsa-icons/samhsa-icons.woff2?xd8hxr') format('woff2'),
  url('../../fonts/icomoon/samhsa-icons/samhsa-icons.ttf?xd8hxr') format('truetype'),
  url('../../fonts/icomoon/samhsa-icons/samhsa-icons.woff?xd8hxr') format('woff'),
  url('../../fonts/icomoon/samhsa-icons/samhsa-icons.svg?xd8hxr#samhsa-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="samhsa-icons-"], [class*=" samhsa-icons-"] {
  font-family: 'samhsa-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// CKEditor indents from D7
//==============================================
.rteindent1 {
  margin-left: 40px;
}

.rteindent2 {
  margin-left: 80px;
}

.rteindent3 {
  margin-left: 120px;
}

.rteindent4 {
  margin-left: 160px;
}

.rteleft {
  text-align: left;
}

.rteright {
  text-align: right;
}

.rtecenter {
  text-align: center;
}

.rtejustify {
  text-align: justify;
}

.ibimage_left {
  float: left;
}

.ibimage_right {
  float: right;
}

