// Standardized colors as defined in the styleguide: https://hhs.github.io/samhsa-pattern-library/colors/
// [OCWT-10777] - Organized colors alphabetically for easier reference.
$barney:        #54278F;
$black:         #000000;
$blueice:       #EDF3F5;
$cerulean-20:   #DAEAF6;
$cerulean-40:   #C2DDF1;
$cerulean-60:   #9DC9E9;
$cerulean-80:   #85BCE4;
$cerulean:      #5191CD;
$charcoal:      #4A4A4A;
$clarinet:      #001a4e;
$cosmiclatte:   #D7FFE4;
$crimson-10:    #F4E3DB;
$crimson-20:    #E69B9A;
$crimson-40:    #DC7371;
$crimson-60:    #D45653;
$crimson:       #CD3835;
$dark-yellow:   #FFBE2E;
$endeavour:     #225185;
$exotic-lira:   #d6097a;
$fog:           #A3A7A9;
$grenadier:     #D54309;
$haze:          #f4f4f4;
$light-green:   #CFEBDE;
$light-grey:    #F7F7F7;
$light-silver:  #EFEFEF;
$light-yellow:  #FAF3D1;
$midnight-20:   #BBC3C9;
$midnight-40:   #8E9BA5;
$midnight-60:   #617381;
$midnight-80:   #405666;
$midnight:      #1E384B;
$mist:          #EEEEEE;
$offwhite:      #E6E6E6;
$pinkrock:      #F4E3D8;
$porcelain-20:  #EDF3F5;
$porcelain-40:  #EDF1F4;
$royalblue:     #005EA2;
$ruby:          #A82D2B;
$russet:        #9c3d10;
$sapphire:      #1F419A;
$seafoam:       #EDF1F4;
$seaweed:       #0E769E;
$semi-transparent-black: rgba(0, 0, 0, 0.16);
$silver:        #DDDDDD;
$slate:         #757575;
$smoke:         #CDCDCD;
$steel:         #5F636A;
$success:       #0F9D58;
$teal-20:       #BAD2DA;
$teal-40:       #8CB4C2;
$teal-60:       #5E96AA;
$teal-80:       #3C7F98;
$teal:          #1A6986;
$topaz:         #5CC0D0;
$vivid-blue:    #2491FF;
$white:         #FFFFFF;

$aha-bg-color-dark: rgba(30, 44, 56);
$aha-bg-color-dark-opacity: rgba(30, 44, 56, 0.7);
