
@use "./var_colors" as *;
// Variables
//==========================================================================

//Warning from Omega
//For a SCSS file in your theme to use the variables represented here, the line @import "omega-style-vars.scss",
// "_omega-default-style-vars.scss"; must be at the top of the SCSS file.
//
// You can add as many partials as needed and import them here
// Be mindful of the order in which you import them
//--------------------------------------------------------------------

// //Imports
// @use "./var_colors";
// @use "./var_grids";

// Typography
//-----------------------------------------------------
$base-font-family: 'Source Sans Pro', sans-serif;
$heading-font-family: $base-font-family;

// Font Sizes - USWDS UTILITIES
$font-lang-micro: 0.63rem;
$font-lang-1:     0.75rem;
$font-lang-2:     0.81rem;
$font-lang-3:     0.88rem;
$font-lang-4:     0.94rem;
$font-lang-6:     1.06rem;
$font-lang-7:     1.13rem;
$font-lang-8:     1.25rem;
$font-lang-9:     1.38rem;
$font-lang-10:    1.5rem;
$font-lang-11:    1.75rem;
$font-lang-12:    2rem;
$font-lang-13:    2.25rem;
$font-lang-14:    2.5rem;
$font-lang-15:    3rem;
$font-lang-15-1:  3.125rem;
$font-lang-16:    3.5rem;
$font-lang-17:    4rem;
$font-lang-18:    5rem;
$font-lang-19:    7.5rem;
$font-lang-20:    8.75rem;

.font-lang-micro {
  font-size: $font-lang-micro !important;
}
.font-lang-1 {
  font-size: $font-lang-1 !important;
}
.font-lang-2 {
  font-size: $font-lang-2 !important;
}
.font-lang-3 {
  font-size: $font-lang-3 !important;
}
.font-lang-4 {
  font-size: $font-lang-4 !important;
}
.font-lang-5 {
  font-size: 16px !important;
}
.font-lang-6 {
  font-size: $font-lang-6 !important;
}
.font-lang-7 {
  font-size: $font-lang-7 !important;
}
.font-lang-8 {
  font-size: $font-lang-8 !important;
}
.font-lang-9 {
  font-size: $font-lang-9 !important;
}
.font-lang-10 {
  font-size: $font-lang-10 !important;
}
.font-lang-11 {
  font-size: $font-lang-11 !important;
}
.font-lang-12 {
  font-size: $font-lang-12 !important;
}
.font-lang-13 {
  font-size: $font-lang-13 !important;
}
.font-lang-14 {
  font-size: $font-lang-14 !important;
}
.font-lang-15 {
  font-size: $font-lang-15 !important;
}
.font-lang-16 {
  font-size: $font-lang-16 !important;
}
.font-lang-17 {
  font-size: $font-lang-17 !important;
}
.font-lang-18 {
  font-size: $font-lang-18 !important;
}
.font-lang-19 {
  font-size: $font-lang-19 !important;
}
.font-lang-20 {
  font-size: $font-lang-20 !important;
}




// Font Weights
$weight-regular: normal; //400
$weight-bold: bold; //700
$weight-semi-bold: 600;

// Line height
$default-line-height: 1.5;
$line-height-small: 1.21;
$line-height-medium: 1.25;
$line-height-large: 1.27; 
$line-height-xlarge: 1.3;

// Spacing, padding and indexes
//-----------------------------------------------------
$base-spacing: $default-line-height * 1em;
$small-spacing: calc(#{$base-spacing} / 2);
$base-z-index: 0;

$h2-spacing: 5px 0;

//this is the padding for the mega menu
$mega-menu-padding: 10px;

//this is the padding for the buttons / list items in the side menu
$side-menu-padding: 0.75em;

// Borders
//-----------------------------------------------------
$base-border-radius: 0;
$base-border-color: $silver;
$base-border: 1px solid $base-border-color;
$megamenu-border: 1px solid $silver;

// Forms
//-----------------------------------------------------
//Variables to define our field types
$form-input-text: 'input[type="text"], input[type="password"], input[type="search"], input[type="email"], input[type="tel"], input[type="url"], input[type="number"]';
$form-input-buttons: 'input[type="submit"], input[type="reset"], input[type="button"], button';
$form-input-dates: 'input[type^="date"], input[type="month"], input[type="week"], input[type="time"]';
$form-input-not-radio: 'input:not([type="radio"]):not([type="checkbox"])';

$form-focus-color: $cerulean;
$form-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
$form-box-shadow-focus: 0 0 5px rgba(81, 145, 205, 0.7);
$form-field-bg: $white;
$form-padding: calc(#{$base-spacing} / 5);
$form-line-height: 2.2;

// Transitions
//-----------------------------------------------------
$base-duration: 150ms;
$base-timing: ease;



