@use "../config/variables/var_colors" as colors;
@use '../config/mixins/mixins' as mixins;

// THE HUDA - SECTION-FLAGRIGHT OVERWRITES
body.thehuda {
  .section-flagright {
    background-color: colors.$thehuda-bg-color-light;

    .aha-component {
      margin: 0;
      padding: 0 0 0 100px;

      .flagright-details {
        padding: 70px 0;
      }
      .flagright-media {
        .flagright-img {
          width: 100%;
          height: auto;
          overflow: hidden;
          img {
            border-radius: 70px 0 0 50px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
