// THE NIELS - HEADER OVERWRITES
body.theniels {
  header {
    .section-top {
      .banner {
        height: 100vh;
        margin-top: 0;

        img {
          margin-top: 0;
          width: 100%;
        }
      }
    }
  }
}
