@use "../config/variables/var_colors" as colors;
@use '../config/mixins/mixins' as mixins;

// THE NIELS - SECTION-MISSION OVERWRITES
body.theniels {
  .section-mission {
    height: 100vh;

    .mission-block {
      height: 100vh;
      position: relative;
      &::after {
        content: '';
        @include mixins.aha-bg-color-dark-opacity(1, theniels);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 50px 50px 0 0;
        z-index: 15;
        height: 50px;
      }

      .mission-statement {
        position: absolute;
        top: 30%;
      }
    }
  }
}
